<h1>Tools</h1>



<%= form_for(@tools) do |f| %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Nombre", class: "form-control"%>
  </div>
  <div class="field">
    <%= f.text_field :quantity, placeholder: "Número de herramientas", class: "form-control"%>
  </div>

  <div>
    <%= f.submit "Guardar"%>
  </div>
<%end%>

<div class="field">
  <input type="button" value="Prestar herramientas" onClick="window.location = 'lends';">

</div>
