
<div class="table-responsive">
  <div class="field wrapper">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
  </div>


  <ul id="myUL" class="list-group">
   	<% @tools.each do |tool| %>
    <li> <a href="#" class="list-group-item" ><%= tool.title %> <span  class="badge"> <%= tool.quantity %> </span> </a></li>
   	<% end %>
   	</ul>
</div>
